<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking appointment app</title>
   
</head>
<body>
    <form  id="appointmentform">
        <label>Name:</label>
        <input type="text"  name="name" placeholder="Enter your name" id="name">
        <label>Email:</label>
        <input type="email"  name="email" placeholder="Enter your email" id="email">
        <label>Phone Number:</label>
        <input type="number"  name="phonenumber" placeholder="Enter your phone number" id="phone">

        <button type="submit">Submit</button>
        
        <ul id="itemList"></ul>
    </form>
    
    <script defer src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/appointment.js"></script>
</body>
</html>